:root{
    --main-body-color: #EEFAFF;

    --navbar-color: #4172FF;

    --navbar-height: 90px;

    --white: #FFF;
    --white-025: rgba(255,255,255,0.25);
    --white-05: rgba(255,255,255,0.5);
    --white-075: rgba(255,255,255,0.75);
    --white-08: rgba(255,255,255,0.8);

    --black: rgba(0,0,0,1);

	--buttons-color: rgba(65, 114, 255, 0.75);
	--buttons-color-hover: #265EFF;

    --footer-color: #3366cc;

    --lines-color: rgba(65, 114, 255, 1);
    --lines-color2: rgba(255, 63, 100, 1);

    --sub-title-color: #717171;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--main-body-color);

    box-sizing: border-box;
}